{%- comment -%}
	Renders craftsperson section

	Accepts:
	- product: { Object } the product object witht the craftsperson metafield

	Usage:
	{% render 'product-craftsperson', { product: product } %}
{%- endcomment -%}

{%- if product.metafields.custom.craftsperson.value.name -%}
	<div class="page-width">
		<h2>Meet the craftsperson: {{ product.metafields.custom.craftsperson.value.name }}</h2>
		{{ product.metafields.custom.craftsperson.value.image | image_url: width: 250 | image_tag }}
		<div>{{ product.metafields.custom.craftsperson.value.bio | metafield_tag }}</div>
	</div>
{%- endif -%}

